@font-face {
  font-family: "Titillium Web", sans-serif;
  src: url("/fonts/TitilliumWeb-Regular.ttf");
}

.body {
  background: url("../assets/white-3d.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
  margin-bottom: 5%;
  text-align: center;
}

.header_foto {
  width: 100%;
  max-width: 190px;
  border-radius: 100%;
  border: 5px solid #929090;
  margin: 0 auto;
}

.table_title {
  caption-side: top;
  text-decoration: underline;
  font-size: 1.5em;
  font-weight: bold;
}

.header_table {
  margin: 0 auto;
}

td:first-child {
  background: #929090;
  color: white;
  padding: 10px 20px;
}
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}
td {
  background: hsla(0, 13%, 88%, 0.726);
  text-align: center;
}
td:first-child {
  text-align: left;
}

.block_one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  margin: 0 auto;
}

h2 {
  text-decoration: underline;
}

.link:link {
  text-decoration: none;
  color: rgb(93, 39, 104);
}
.link:visited {
  text-decoration: none;
}
.link:active {
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
  color: #a5b6c5;
}

.address {
  text-align: center;
}
